<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/style/layout/header-menu.css"/>
    <link rel="stylesheet" type="text/css" href="/style/layout/main.css" />
    <link rel="stylesheet" type="text/css" href="/style/content/hero.css" />
    <link rel="stylesheet" type="text/css" href="/style/content/section.css" />
    <link rel="stylesheet" type="text/css" href="/style/content/text.css" />
    <link rel="stylesheet" type="text/css" href="/style/layout/footer.css" />
    <link rel="stylesheet" type="text/css" href="/style/content/arrowAnim.css"/>
    <link rel="stylesheet" type="text/css" href="/style/content/buttons.css" />
  </head>
  <body>
    <header><%- include('layout/header') %></header>
    <div class="hero">
      <img
        class="hero-image"
        src="../images/DALL·E 2023-12-20 10.57.50 - Create a minimalist hero image for a webpage titled 'Real Time Chat', focusing on a clean and clear design. The color scheme should include shades of .png"
      />
      <h1 class="hero-text"><%= title %></h1>
    </div>
    <div class="container">
        <div class="section">
            <h2>Connect Instantly, Chat Seamlessly</h2>
            <p class="text">
              Welcome to Real Time Chat, where conversations flow in real time,
              bringing people closer together. Whether you're catching up with
              friends, collaborating with colleagues, or joining a community of
              like-minded individuals, our intuitive platform makes communication
              effortless and engaging. Dive into a world of instant messaging, share
              ideas, and build connections that matter. Because every conversation
              counts.
            </p>
          </div>
      <div class="section">
        <h2>Join the chat!</h2>
        <div class="arrow-animation-down">
          <div class="right-arrow"></div>
          <div class="left-arrow"></div>
        </div>
        <button id="chat-board-button">Go to Chat Board!</button>
      </div>
    </div>
    <footer><%- include('layout/footer') %></footer>
  </body>
</html>
