@import url(./colors.css);
@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Sofadi+One&display=swap");

:root {
  color: rgb(235, 235, 235);
  font-family: "Sofadi One";
}

body {
  background-color: var(--color-primary-0);
  min-height: 100vh;
  margin: 0;
}

.container {
  padding: 5vh 10vw 5vh 10vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

a {
  position: relative;
  color: rgb(235, 235, 235);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-4);
}
a:active {
  top: 2px;
}
