<div id="header">
    <div>
        <a href="/"><h2>Home</h2></a>
    </div>
    <div>
        <a href="#"><h2>My Profile</h2></a>
    </div>
    <div>
        <a href="#"><h2>Chat Board</h2></a>
    </div>
    <div>
        <a href="/log_in"><h2>Log in</h2></a>
    </div>
</div>