<div id="header">
    <div>
        <h2>Home</h2>
    </div>
    <div>
        <h2>My Profile</h2>
    </div>
    <div>
        <h2>Chat Board</h2>
    </div>
    <div>
        <h2>Log in</h2>
    </div>
</div>